<div class="card h-100 cursor-pointer">
  <img [src]="producto.foto || 'assets/placeholder.png'" class="card-img-top" [alt]="producto.nombre">
  <div class="card-body">
    <h5 class="card-title text-center fw-bold">{{producto.nombre}}</h5>
    <!--<div class="d-flex">
      <img 
        *ngFor="let star of counter(producto.calificacion || 0)"
        class="star"
        src="assets/star-filled.svg" 
        alt="estrella con relleno"/>
      <img
        *ngFor="let star of counter(5 - (producto.calificacion || 0))"
        class="star"
        src="assets/star.svg"
        alt="estrella sin relleno"/>
    </div>-->
    <small class="card-text">
      {{producto.descripcion || '' | truncate:40}}
    </small>
  </div>
</div>