<!--<p>informacion-producto works!</p>-->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Tocame!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div id="nombre_prd">
                    <h4>{{producto?.nombre}}</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contenedor-producto" class="container-fluid">
                    <div id="encabezado-prd" class="row">
                        <div id="img-prd" class="col-8">
                            <img src="{{producto?.foto}}" class="img-fluid" alt="imagen del producto">
                        </div>
                        <div id="info-gral-prd" class="col-4">
                            <div id="precio_prd">
                                <h3>$ {{producto?.precio}}</h3>
                            </div>
                            <div id="disponibilidad_prd">
                                <h5>Disponibles: 
                                <span id="disponibles"> 5 </span>
                                </h5>
                            </div>
                            <div id="agregar_carrito">
                                <button id="btn_agregar_carro"class="btn btn-primary" type="submit">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="descripcion-box-prd">
                        <h3>Descripcion</h3>
                        <div id="descripcion_prd">
                            <p>{{producto?.descripcion}} </p>
                        </div>
                    </div>
                    <hr>
                    <div id="opiniones-box-prd">
                        <h3>Opiniones</h3>
                        <div id="calificacion_gral_producto">
                            <h4>Los usuarios califican este producto con: {{producto?.calificacion}} </h4>
                        </div>
                        <div class="opinion_usuario_box" *ngFor="let opinion of opiniones">
                            <div class="nom_usuario"> {{opinion?.username}}
                            </div>
                            <span class="calif_usuario">{{opinion?.valoracion}}
                                <img 
                                 *ngFor="let star of counter(opinion?.valoracion || 0)"
                                 class="star"
                                 src="assets/star-filled.svg" 
                                 alt="estrella con relleno"/>
                            </span>
                            <div class="opinion_contenido">
                                <p> {{opinion?.contenido}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
