<!--<p>informacion-producto works!</p>-->
<div id="contenedor-producto" class="container">
    <div id="encabezado-prd" class="row">
        <div id="img-prd" class="col-8">
            <img src="https://http2.mlstatic.com/D_NQ_NP_633029-MLM46506635326_062021-O.webp" class="img-fluid" alt="imagen del producto">
        </div>
        <div id="info-gral-prd" class="col-4">
            <div id="nombre_prd">
                <h3>Nombre de producto</h3>
            </div>
            <div id="precio_prd">
                <h3>Precio producto</h3>
            </div>
            <div id="disponibilidad_prd">
                <h5>Disponibles: </h5>
                <span id="disponibles"> 5 </span>
            </div>
            <div id="agregar_carrito">
                <button id="btn_agregar_carro"class="btn btn-primary" type="submit">Agregar al carrito</button>
            </div>
        </div>
    </div>
    <hr>
    <div id="descripcion-box-prd">
        <h3>Descripcion</h3>
        <div id="descripcion_prd">
            <p> Esta es la descripcion de un producto.
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisis vehicula vestibulum, et inceptos cras lobortis platea ut praesent porta convallis, est curabitur placerat egestas eleifend nisl a ridiculus vel. Varius inceptos fringilla natoque consequat phasellus sociosqu, habitasse vel imperdiet commodo porta. Dictum vulputate suscipit pulvinar rutrum tristique dictumst interdum pellentesque, erat aliquet est bibendum integer sodales sollicitudin enim, consequat lectus rhoncus cum ornare litora egestas.
                Arcu placerat montes quisque semper eleifend sollicitudin mollis posuere, non senectus morbi scelerisque torquent cursus massa cras, a ornare ac nullam diam aliquet sociis. Aliquet morbi tempor dui magna suspendisse pulvinar nullam maecenas eu vulputate est phasellus pellentesque, cras pharetra ullamcorper ad ac cubilia enim blandit erat molestie proin. Aenean dis nullam faucibus praesent vehicula conubia arcu penatibus netus nec montes class pellentesque, facilisis libero quis suscipit nascetur sed quam molestie rhoncus diam metus sociosqu.
            </p>
        </div>
    </div>
    <hr>
    <div id="opiniones-box-prd">
        <h3>Opiniones</h3>
        <div id="calificacion_gral_producto">
            <h4>Los usuarios califican este producto con: </h4>
        </div>
        <div class="opinion_usuario_box">
            <div class="nom_usuario"> Juan
            </div>
            <div class="calif_usuario"> 3 estrellas
            </div>
            <div class="opinion_usuario">
                <p> Esta es la opinion de Juan.
                Lorem ipsum dolor sit amet consectetur adipiscing elit facilisis vehicula vestibulum, et inceptos cras lobortis platea ut praesent porta convallis, est curabitur placerat egestas eleifend nisl a ridiculus vel. Varius inceptos fringilla natoque consequat phasellus sociosqu, habitasse vel imperdiet commodo porta. Dictum vulputate suscipit pulvinar rutrum tristique dictumst interdum pellentesque, erat aliquet est bibendum integer sodales sollicitudin enim, consequat lectus rhoncus cum ornare litora egestas.
                </p>
            </div>
        </div>

    </div>
</div>

