<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow-lg round pb-3">
            <h1 class="text-center pt-3 text-secondary">Iniciar Sesión</h1>
            <form [formGroup]="exform" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="col-form-label">Nombre de usuario:</label>
                    <input formControlName="username" type="text" class="form-control">
                    <small *ngIf="username?.invalid && username.touched" class="text-danger">El nombre de usuario es requerido</small> 
                </div>
  
                <div class="form-group">
                    <label for="rol">Selecciona un rol:</label>
                    <select id="rol" class="form-select" formControlName="rol" required>
                        <option *ngFor="let p of roles" [value]="p">{{p}}</option>    
                    </select>
                    <small *ngIf="rol?.invalid && rol.touched" class="text-danger">Debes seleccionar un rol</small>
                </div>    

                <div class="form-group">
                    <label class="col-form-label">Contraseña:</label>
                    <input formControlName="password" type="password" class="form-control">
                    <small *ngIf="password?.invalid && password.touched" class="text-danger">La Contraseña es requerida</small>
                </div>      
  
                <div class="text-center shadow-l login">
                    <button [disabled]="exform.invalid || loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Iniciar Sesión
                    </button>
                </div>
               
                <div class="text-center shadow-l login">
                    <a class="text-center" title="No tienes una cuenta? Registrate" routerLink="/auth/signin" routerLinkActive="active">
                        No tienes una cuenta? Registrate
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>